<div class="version-container" [class.clickable]="canCheckUpdates()" (click)="onVersionClick()">
  <div class="version-info">
    <span class="version-label">v</span>
    <span class="version-number">{{ version() }}</span>
    @if (commitHash()) {
      <span class="commit-hash">{{ commitHash() }}</span>
    }
    @if (hasHistory()) {
      <span class="history-icon" (click)="toggleHistory(); $event.stopPropagation()">📜</span>
    }
  </div>

  @defer (when showHistory()) {
    @if (showHistory()) {
      <app-commit-history
        [commits]="commitHistory()"
        (closed)="toggleHistory()"
      />
    }
  }
</div>